@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .btn-test-width{
    width: Calc(100% - 1rem)
  }

  .auth-image{
    background: url("/drop.jpg") no-repeat;
    background-size: cover;
  }

  .h-users-list{
    height: calc(100vh - 7rem - 3.35rem);
  }

